Repository PoppaShell/WarPie: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-embedded, pytest-quick, bats-quick

eslint-embedded:
  name: ESLint (embedded JavaScript)
  entry: bash -c 'node scripts/extract-js.js && npx eslint .extracted-js/'
  language: system
  pass_filenames: false

pytest-quick:
  name: pytest (quick check)
  entry: bash -c 'python -m pytest tests/python/ -x -q --tb=line 2>/dev/null || echo "Tests failed - please fix before committing"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

bats-quick:
  name: bats (quick check)
  entry: bash -c 'bats tests/bash/ --tap 2>/dev/null | head -20 || echo "Bash tests failed"'
  language: system
  pass_filenames: false
  stages:
  - pre-push

style: Apply Ruff formatting to fix CI
  bin/warpie-filter-manager.py
  tests/python/test_web_helpers.py
  tests/python/test_web_routes.py
Due: eslint-embedded, pytest-quick

fix: Install package dependencies before dev dependencies in CI
  .github/workflows/tests.yml
Due: none

fix: Install Flask and waitress directly in CI instead of editable install
  .github/workflows/tests.yml
Due: none

fix: Measure coverage for web/ only - bin/ scripts use non-standard imports
  .github/workflows/tests.yml
  pyproject.toml
Due: none

ci: bump actions/checkout from 4 to 6
  .github/workflows/release.yml
Due: none

feat: Add WiGLE CSV exporter with BTLE support (Issue #29)
  bin/warpie-kismet-to-wigle.py
  install/install.sh
  tests/bash/test_scripts.bats
  tests/python/test_kismet_to_wigle.py
Due: eslint-embedded, pytest-quick, bats-quick

fix: Address CI linting errors in test file
  bin/warpie-kismet-to-wigle.py
  tests/python/test_kismet_to_wigle.py
Due: eslint-embedded, pytest-quick

style: Apply ruff formatting to test file
  tests/python/test_kismet_to_wigle.py
Due: eslint-embedded, pytest-quick

feat: Add WiGLE capture mode to WarPie controller
  bin/wardrive.sh
  web/config.py
  web/routes/main.py
  web/templates/partials/_mode_buttons.html
Due: eslint-embedded, pytest-quick, bats-quick

fix: Add WiFi disconnection warning to uninstall
  install/install.sh
Due: bats-quick

fix: Improve monitor interface cleanup during uninstall
  install/install.sh
Due: bats-quick

fix: Improve text input prompt formatting
  install/warpie_config.py
Due: eslint-embedded, pytest-quick

fix: Handle Kismet advertised_ssid_map as list or dict
  bin/warpie-kismet-to-wigle.py
Due: eslint-embedded, pytest-quick

refactor: Rename wigle mode to wardrive_bt for clarity
  .gitignore
  bin/wardrive.sh
  install/install.sh
  web/config.py
  web/routes/main.py
  web/templates/partials/_mode_buttons.html
Due: eslint-embedded, pytest-quick, bats-quick

style: Change mode grid to 2x2 layout for 4 buttons
  web/static/style.css
Due: none

style: Reorder mode buttons for better UX grouping
  web/templates/partials/_mode_buttons.html
Due: none

feat: Add Wardrive+BT capture mode for WiFi + Bluetooth/BTLE (#31)
  .gitignore
  bin/wardrive.sh
  bin/warpie-kismet-to-wigle.py
  install/install.sh
  install/warpie_config.py
  web/config.py
  web/routes/main.py
  web/static/style.css
  web/templates/partials/_mode_buttons.html
Due: eslint-embedded, pytest-quick, bats-quick

docs: Add Wardrive+BT mode and WiGLE converter documentation
  README.md
  docs/QUICK_REFERENCE.md
Due: none

feat: Add core performance metrics display
  pyproject.toml
  tests/python/test_performance_helpers.py
  web/app.py
  web/routes/__init__.py
  web/routes/performance.py
  web/static/style.css
  web/static/warpie.js
  web/templates/index.html
  web/templates/partials/_flyout_performance.html
  web/templates/partials/_performance_metrics.html
Due: eslint-embedded, pytest-quick

feat: Add enhanced performance metrics
  tests/python/test_performance_helpers.py
  web/routes/performance.py
  web/static/style.css
  web/templates/partials/_performance_metrics.html
Due: eslint-embedded, pytest-quick

feat: Add multi-tier threshold system and auto-response actions
  tests/python/test_performance_helpers.py
  web/routes/performance.py
  web/templates/partials/_performance_alerts.html
Due: eslint-embedded, pytest-quick

feat: Add threshold configuration UI for performance monitoring
  web/static/warpie.js
  web/templates/index.html
  web/templates/partials/_flyout_performance.html
Due: none

docs: Update CHANGELOG and README for v2.5.0
  CHANGELOG.md
  README.md
Due: none

fix: Correct performance metrics collection and add Kismet API authentication
  install/install.sh
  tests/python/test_performance_helpers.py
  web/routes/performance.py
Due: eslint-embedded, pytest-quick, bats-quick

fix: Use process-based adapter status instead of Kismet API
  install/install.sh
  tests/python/test_performance_helpers.py
  web/routes/performance.py
Due: eslint-embedded, pytest-quick, bats-quick

feat: Add custom command input for threshold response actions
  web/static/warpie.js
  web/templates/partials/_flyout_performance.html
Due: none

refactor: Migrate performance monitoring to pathlib and fix linting
  tests/python/test_performance_helpers.py
  web/routes/performance.py
Due: eslint-embedded, pytest-quick

test: Add performance route tests to increase coverage to 83%
  tests/python/test_performance_helpers.py
Due: eslint-embedded, pytest-quick

security: Fix CodeQL alerts for command injection and stack trace exposure
  web/routes/performance.py
Due: eslint-embedded, pytest-quick

fix: Remove unused exception variable assignments
  web/routes/performance.py
Due: eslint-embedded, pytest-quick

fix: Use proper CodeQL suppression syntax for command injection alert
  web/routes/performance.py
Due: eslint-embedded, pytest-quick

ci: Add CodeQL configuration to suppress validated command injection alert
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
Due: none

ci: Simplify CodeQL configuration
  .github/codeql/codeql-config.yml
Due: none

feat: Performance Monitoring Flyout (v2.5.0)
  .github/codeql/codeql-config.yml
  .github/workflows/security.yml
  CHANGELOG.md
  README.md
  pyproject.toml
  tests/python/test_performance_helpers.py
  web/app.py
  web/routes/__init__.py
  web/routes/performance.py
  web/static/style.css
  web/static/warpie.js
  web/templates/index.html
  web/templates/partials/_flyout_performance.html
  web/templates/partials/_performance_alerts.html
  web/templates/partials/_performance_metrics.html
Due: eslint-embedded, pytest-quick

chore(release): Bump version to 2.5.0
  pyproject.toml
Due: none

feat: Add CI version consistency check
  .github/workflows/version-check.yml
Due: none

fix: Improve install script uninstaller and add Wardrive+BT mode
  install/install.sh
  install/warpie_config.py
Due: eslint-embedded, pytest-quick, bats-quick

Path conditions:
  eslint-embedded: any of: \.py$
  pytest-quick: any of: \.(py)$
  bats-quick: any of: \.(sh|bats)$
